:root {
    text-size-adjust: 100%;
}

body, html {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 30%,#05abe0 100%);
    height: 100%;
    font-style:oblique;
    color: aliceblue;
}

.logo {
    background-image: url('img/10yearinvite.png');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
  }

.active {
    color: pink;
  }
  
  
  